## Lab 1a (CS824)

### This notebook contains a bunch of introductory ideas on Python and using Jupyter Notebook.  If you already use Jupyter and or have covered this type of 'basic' material please feel free to skip to the end of this exercise and/or see if you can build on some of the basic ideas to achieve more 'interesting' outcomes with variables of type dictionary (towards end of section)...

As you may know by now this cell is a 'markdown' cell - it does **NOT** contain code but rather text. This text can also contain special *markdown* codes which render as, for example, **bold**, *italic*, heading formats, etc. 

Using markdown can improve the readability of the text in your *Notebooks*. However, sometimes when I am being lazy I may just note text as a *comment* element within a 'code' cell (see below). This is fine and can be useful (e.g. when you want to include a comment 'in line' with some code (again see an example four cells down). However, you cannot use format in comments to draw the reader's attention to specific points, and the rendering of the text is also not automatically handled within the cell - so you need to add explicit line breaks, etc - and remember that the length of each line may vary between machine/notebook instances (something that is automatically adjusted for within 'markdown' cells.

20/09/2021

In [1]:
# This is a comment

In [2]:
# You can run Python commands within each 'code' cell (one of these!) or over multiple cells. 
# Either use the 'Run' command above, or (more efficiently):
#      use <SHIFT><Enter> to execute and move the cursor on to the next cell,
# or   use <CNTR><Enter> to execute and stay on the same line/cell.

In [3]:
4+777

781

In [7]:
num_var = 21  # we can also add a comment within a code cell (this is an assignment statement - it returns no output)

In [8]:
num_var

21

In [8]:
# But it did do something as you (hopefully) saw. Below are some more assignments statements

In [9]:
string_var = "# this is not a comment because it's in a string"    # A string variable with an ' inside the ""
string_var         # Our first cell with two commands / lines - both of which are executed when you 'run'...

"# this is not a comment because it's in a string"

In [10]:
# Assignments can be of different types: numeric (interger, float, etc.), string and a number of others

In [11]:
2 + 4  # We can do arithmetic operations with +, -, *, /, (), etc. with usual rules of precedence

6

In [12]:
2 ** 3

8

In [14]:
12 / 3  # Division returns a float

4.0

In [15]:
20 // 3  # Floor division discards the fractional remainder and returns an integer

6

In [16]:
11 % 3  # Returns the remainder (modulus arithmetic)

2

In [18]:
# Assign values to variables and use
width = 21
height = 5 * 2
width * height

210

In [19]:
# You will get an error if you try to call a variable that has not yet been defined / assigned
new_var

NameError: name 'new_var' is not defined

In [20]:
# Strings can use " "
"a string"

'a string'

In [21]:
# or ' '
'another string'

'another string'

In [22]:
string_var_two = "the best string"

# You can add strings
string_var + " - some other text - " + string_var_two

"# this is not a comment because it's in a string - some other text - the best string"

In [24]:
# You can also multiply strings by integers
2 * "bla" + "_thing"

'blabla_thing'

In [26]:
# Try to use the approach above to produce "unthing_unthing_unthing_"
3 * "unthing_"

'unthing_unthing_unthing_'

In [30]:
# You can reference characters in the string with indices (0 based)
string_var[0]

'#'

In [31]:
string_var[2]

't'

In [33]:
# You can also count from the end with -ve numbers
string_var[-3]

'i'

In [28]:
# You can take slices of strings
string_var[2:6]

'this'

In [29]:
# The format [start:end:step] can be used
string_var[3:-2:3]

'h  t mnbaet  si'

In [34]:
# This has default parameters of 0, length, and 1
string_var[::]    # will give the same result as just calling the string variable!

"# this is not a comment because it's in a string"

In [35]:
# This can take a while to get your head around, so you may want to try a few alternatives to this...

In [36]:
# You can't change bits of a string directly
string_var[4] = "r"

TypeError: 'str' object does not support item assignment

###   Slighly more complex variable types:
##   Lists and Tuples (ordered sequences)

In [37]:
# lists are assigned using []
# they can have any type, including mixed types
list_var = [1, 4, 9, "squares", [3, 4, 5]]

In [38]:
# You reference elements by an index (0 is the first element)
list_var[3]

'squares'

In [39]:
# can get slices (creates a new list)
list_var[2:]

[9, 'squares', [3, 4, 5]]

In [40]:
# Unlike strings, you CAN assign to elements
list_var[3] = 16
list_var

[1, 4, 9, 16, [3, 4, 5]]

In [41]:
# can assign to slices (which can also change the size of the list)
list_var[2:4] = ['a', 'b', 'c']
list_var

[1, 4, 'a', 'b', 'c', [3, 4, 5]]

In [42]:
# 'adding' lists will in fact concatenate them
[3,2,1] + [4,5,6]

[3, 2, 1, 4, 5, 6]

In [43]:
# use append to add an element to the end of a list
list_var.append(6)
list_var

[1, 4, 'a', 'b', 'c', [3, 4, 5], 6]

In [46]:
len(list_var)

7

In [47]:
# Tuples are similar but cannot be changed once created
# create with ()
tuple_var = (5, 2, 6, "string")

In [48]:
tuple_var[2]

6

In [49]:
tuple_var[2] = 63

TypeError: 'tuple' object does not support item assignment

In [50]:
# Tuples can also be concatenated
(3, 4, 5) + (2, 7, 0)

(3, 4, 5, 2, 7, 0)

##   Multiple statements within a loop (here using "while")

In [51]:
# multiple assignments can be made within a single statement  (NB - this approach is also used within the loop)
a, b = 0, 1

# while loop
while b < 1000:
    # loop body is indented
    # "end" keyword replaces newline
    print(b, end=",")
    a, b = b, a+b
    
# Note: do you happen to know what this sequence is called?

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

## Functions and control flow

In [52]:
# define a function
# format: def keyword function_name(args):
# optional argument
# NB - No output when running this cell, like a variable assignment we are setting something up to be used later.

def compare_numbers(first_number, second_number=2):
    """
    Compares two numbers and prints how the first relates to the second.
    
    :param first_number: Numerical to compare
    :param second_number: (optional) Numerical to compare, default 2
    """
    # indent the function contents
    if first_number > second_number:
        # indent shows this is part of the if
        # compare_string is not defined outside the if so must be defined in every branch
        compare_string = "greater than"
    elif first_number < second_number:
        compare_string = "less than"
    else:
        compare_string = "equal to"
    # unindent indicates end of the block
    # format is a good way to structure strings
    print("{} is {} {}".format(first_number, compare_string, second_number))

In [53]:
compare_numbers(3, 5.3)

3 is less than 5.3

In [54]:
compare_numbers(4, 3, 5)       # What happened here?

TypeError: compare_numbers() takes from 1 to 2 positional arguments but 3 were given

In [55]:
compare_numbers(9, )

9 is greater than 2

In [58]:
# This is BAD practice, but shows the role of 'global' and 'local' variables
compare_numbers(second_number=9, first_number=2)

2 is less than 9

In [59]:
# Funtion are often used to return values (or a value)
def list_mean(list_var):
    mean = sum(list_var) / len(list_var)
    return mean

In [60]:
m = list_mean([3,6,2,8,5])

In [61]:
m

4.8

In [62]:
text_var = "the time has come the walrus said to talk of many things of shoes and ships and sealing wax"
word_list = text_var.split()

In [63]:
word_list

['the',
 'time',
 'has',
 'come',
 'the',
 'walrus',
 'said',
 'to',
 'talk',
 'of',
 'many',
 'things',
 'of',
 'shoes',
 'and',
 'ships',
 'and',
 'sealing',
 'wax']

In [65]:
def word_lengths(word_list):
    """
    Prints out all the words in the list and their lengths.
    
    :param word_list: list of words
    """
    for word in word_list:
        print("{:<10} {:>3}".format(word, len(word)))

In [66]:
word_lengths(word_list)

the          3
time         4
has          3
come         4
the          3
walrus       6
said         4
to           2
talk         4
of           2
many         4
things       6
of           2
shoes        5
and          3
ships        5
and          3
sealing      7
wax          3

In [67]:
# aside: can also join lists into strings
",".join(["list " "of " "words"])

'list of words'

In [68]:
# The range function can be useful for 'non-standard' loops
range(10)  # returns an iterator

range(0, 10)

In [69]:
list(range(10))  # specify the number of items in the list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(5, 100, 5))  # specify start, end, step

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

## Dictionaries: key, value mapping

In [71]:
dict_var = {3: 4, 4: [1, 2, 3], "dictionary": ("tuple", 45)}

In [74]:
dict_var["dictionary"]

('tuple', 45)

In [76]:
dict_var[4][2]

3

In [77]:
dict_var.items()

dict_items([(3, 4), (4, [1, 2, 3]), ('dictionary', ('tuple', 45))])

In [78]:
def dict_word_lengths(word_list):
    """
    Prints out all the unique words in the list, count of how many, and their lengths.
    
    :param word_list: list of words
    """
    word_dict = {}
    for word in word_list:
        if word not in word_dict:
            word_dict[word] = 0
        word_dict[word] += 1
    print("{:^10} {:>5} {:>5}".format("Word", "Count", "Length"))
    for word, count in word_dict.items():
        print("{:<10} {:>5} {:>6}".format(word, count, len(word)))

In [79]:
dict_word_lengths(word_list)

   Word    Count Length
the            2      3
time           1      4
has            1      3
come           1      4
walrus         1      6
said           1      4
to             1      2
talk           1      4
of             2      2
many           1      4
things         1      6
shoes          1      5
and            2      3
ships          1      5
sealing        1      7
wax            1      3

## Some other useful approaches to looping

In [80]:
# get the index of the current item when iterating through a list
for position, item in enumerate(['tic', 'tac', 'toe']):
    print(position, item)

0 tic
1 tac
2 toe

In [81]:
# The 'zip' operator will combine lists by iterating through tuples of combined elements
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

In [82]:
Q_and_A = zip(questions, answers)

In [83]:
list(Q_and_A)

[('name', 'lancelot'), ('quest', 'the holy grail'), ('favorite color', 'blue')]

## The kernel 'environment'

In [84]:
# As you should have realised, variables 'persist' within a given session of the kernel.
# (This can sometimes cause unexpected headaches!)

# You can always get a list of the variables (and their values) persisting in the environment...

In [85]:
%whos

Variable            Type        Data/Info
-----------------------------------------
Q_and_A             zip         <zip object at 0x7fcc5e370080>
a                   int         987
answers             list        n=3
b                   int         1597
compare_numbers     function    <function compare_numbers at 0x7fcc5e3b19d0>
dict_var            dict        n=3
dict_word_lengths   function    <function dict_word_lengths at 0x7fcc5e3788b0>
height              int         10
item                str         toe
list_mean           function    <function list_mean at 0x7fcc5e3b1a60>
list_var            list        n=7
m                   float       4.8
num_var             int         21
position            int         2
questions           list        n=3
string_var          str         # this is not a comment because it's in a string
string_var_two      str         the best string
text_var            str         the time has come the wal<...>and ships and sealing wax
tuple_var           tuple       n=4
width               int         21
word_lengths        function    <function word_lengths at 0x7fcc5e386ee0>
word_list           list        n=19